.btnsecbg{
  color: #1572d3 !important;
  background-color:#e8f1fb !important;
  margin: auto;

}
.stepscontainer {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
  text-align: center;
  margin: 60px 0;
}

.step {
  max-width: 300px;

}
.step2{
    display: flex;
    justify-content: center;
}

.iconbox {
  width: 100px;
  height: 100px;
  background: #eaf3ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

.icon-box img {
  width: 45%;
}

.step h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}
.colori{
    color:#1572d3  ;
}

.step p {
  font-size: 15px;
  color: #666;
}
@media (max-width: 768px) {
  .steps-container {
    gap: 40px;
  }
}

.containercenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

